header {
    background: grey;
    border: 1px solid #000;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;

    color: #000000;
}

#chat-div{
    display: flex;
    justify-content: center;
}

form {
    background: grey;
    border: 1px solid grey;
    display: flex;    
}

#btn_enviar_mensagem {
    background-color: lightseagreen;
    border-radius: 20px;
    height: 20px;
    border: none;
}

#btn_enviar_mensagem:hover {
    font-style: italic;
    background-color: blue;
    color: white;
}

.historico_msg {
    list-style: none;
}

.div_box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    height: 65px;
    background-color: lightblue;
}

.btn_excluir_msg {
    background-color: red;
    color: #000;
    border-radius: 5px;
    float: right;
    border: none;

}

.btn_excluir_msg:hover {
    font-style: italic;
    background-color: blue;
    color: white;
}

.btn_editar_msg {
    background-color: orange;
    color: black;
    border-radius: 5px;
    float: right;
    border: none;
}

.btn_editar_msg:hover {
    font-style: italic;
    background-color: blue;
    color: white;
}

.chat_box{
    width: 500px;
    height: 150px;
}